.site-header {
    /*color: #F2EFDC;*/
    padding: 10px;
}

.user-status a a:visited {
    color: orangered;
}

.user-status a:active a:hover {
    color: red;
}

.site-status {
    margin-top: 10px;
    /*color: white;*/
}

.site-footer {
    background-color: #808080;
    color: #404040;
}

.site-footer footer {
    margin: 10px;
}

.site-body {
    background-color: #f8f7f2;
    color: #404040;
    padding: 10px;
}

.site-username-status {
    list-style-type: none;
    display: inline;
}

.dashboard-btn {
    margin-top: 15px;
}

.thumbnail_max_size {
    max-height: 100px;
}

.strike {
    text-decoration: line-through;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-5 {
    margin: 5px;
}

.session-alert {
    width: 100%;
    margin-top: 5px;
}

.session-alert-btn-wrapper {
    padding: 10px;
}

#green {
    background-color: #4caf50;
}

input.small {
    max-width: 80px;
    text-align: center;
}

input.medium {
    max-width: 180px;
    text-align: center;
}

button.small {
    max-width: 150px;
    text-align: center;
}

.left {
    float: left;
    text-align: center;
    width: 290px;
}

.left label {
    padding-left: 40px;
    text-align: center;
}

.left ul {
    min-height: 100px;
}

.med-top-margin {
    display: inline-block;
    margin-top: 20px;
}

#all-food-posibilities-wrapper, #user-selected-food-posibilities-wrapper {
    list-style-type: none;
}

#all-food-posibilities-wrapper li, #user-selected-food-posibilities-wrapper li {
    background: white;
    border: 2px solid #eee;
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
}

.connectedSortable li:hover {
    cursor: pointer;
}

.connectedSortable li.ui-sortable-helper {
    cursor: move;
}

.hidden {
    display: none !important;
}