<h2>Today</h2>

<div class="row margin-top-5">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Amount in gram</th>
                <th>Protein in gram</th>
            </tr>
            <tr ng-repeat="item in foodIntakeData">
                <td>{{item.FoodPosibility.Name }}</td>
                <td>{{item.Amount}}</td>
                <td>{{item.Protein}}</td>
            </tr>
        </table>
    </div>
</div>