<h2>Today</h2>

<div class="row margin-top-5">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Total protein intake</th>
                <th>Daily recomended intake</th>
                <th>Percentage</th>
                <th>Protein left</th>
            </tr>
            <tr >
                <td>200 g</td>
                <td>150 g</td>
                <td>75 %</td>
                <td>50 g</td>
            </tr>
        </table>
    </div>
</div>
<h2>Protein Intakes</h2>
<div class="row margin-top-5">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Food Type</th>
                <th>Amount</th>
                <th>Protein</th>
                <th></th>
                
            </tr>
            <tr ng-repeat="item in foodIntakeData">
                <td>
                    <select class="form-control" 
                            ng-options="foodPos.Name for foodPos in foodPosibilities track by foodPos.Id"
                            ng-model="selectedFoodPos"></select>
                </td>
 
                <td>
                    <input class="form-control" ng-model="item.Amount"/>
                </td>
                <td>
                    <input class="form-control" ng-model="item.Protein" />
                </td>
                <td>
                    <button class="form-control" ng-click="deleteRow($index)">Delete</button>
                </td>
                <td>
                    <button class="form-control" ng-click="updateRow($index)">Update</button>
                </td>
            </tr>
            <tr ng-model="newFoodIntake" id="new-food-intake">
                <td>
                    <select class="form-control"
                            ng-options="foodPos.Name for foodPos in foodPosibilities track by foodPos.Id"
                            ng-model="newSelectedFoodPos"></select>
                </td>

                <td>
                    <input class="form-control" ng-model="newFoodIntake.Amount" />
                </td>
                <td>
                    <input class="form-control" id="Protein" />
                </td>
                <td/>
                <td>
                    <button class="form-control" ng-click="updateRow($index)">Create</button>
                </td>
            </tr>
        </table>
    </div>
</div>