<h2>Today</h2>

<div class="row margin-top-5">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Total protein intake</th>
                <th>Daily recomended intake</th>
                <th>Percentage</th>
                <th>Protein left</th>
            </tr>
            <tr ng-model="dailySummary">
                <td>{{dailySummary.total}} g</td>
                <td>{{dailySummary.daily}} g</td>
                <td>{{dailySummary.percentage}} %</td>
                <td>{{dailySummary.left}} g</td>
            </tr>
        </table>
    </div>
</div>
<h2>Protein Intakes</h2>
<div class="row margin-top-5">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Food Type</th>
                <th>Amount in gram</th>
                <th>Protein in gram</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in foodIntakeData">
                <td>
                    <select class="form-control" 
                            ng-options="foodPos.Name for foodPos in foodPosibilities track by foodPos.Id"
                            ng-model="item.FoodPosibility"></select>
                </td>
                <td>
                    <input type="number" min="0" class="form-control small" ng-model="item.Amount" ng-change="calcEachProteinTable(item)"/>
                </td>   
                <td>
                    <div class="small">{{item.Protein}}</div>
                </td>
                <td>
                    <button class="form-control small" ng-click="deleteRow($index)">Delete</button>
                </td>
                <td>
                    <button class="form-control small" ng-click="updateFoodIntake($index)">Update</button>
                </td>
            </tr>
            <tr ng-model="newFoodIntake" id="new-food-intake">
                <td>
                    <select class="form-control"
                            ng-options="foodPos.Name for foodPos in foodPosibilities track by foodPos.Id"
                            ng-model="newFoodIntake.FoodPosibility" 
                            ng-change="calcEachProtein(newFoodIntake)"></select>
                </td>

                <td>
                    <input type="number" min="0" class="form-control small" ng-model="newFoodIntake.Amount" ng-change="calcEachProteinTable(newFoodIntake)" />
                </td>
                <td>
                    <div class="small">{{newFoodIntake.Protein}}</div>
                </td>
                <td/>
                <td>
                    <button class="form-control small" ng-click="postFoodIntake()">Create</button>
                </td>
            </tr>
        </table>
    </div>
</div>